.book {
  font-size: 25px;
  font-weight: bold;
}

.info {
  display: flex;
  align-items: center;
  margin: 20px;
}

.info h2 {
  margin-right: 25px;
}

.book-container h1 {
  margin-left: 10%;
  background-color: #c5b19d;
  margin-top: 10px;
  width: fit-content;
  padding: 10px;
}
