.form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form input {
  width: 80%;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
}

.form button {
  width: 80px;
  margin-right: 5px;
  align-self: center;
  border: 2px solid black;
}
