@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  display: flex;
  justify-content: center;
  background-color: #eee;
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: #fff;
  padding: 30px;
}
