@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
}

.root {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #8ecae6;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #0b252c;
}

.logo {
  font-size: 30px;
  color: #f0e9e9;
  text-decoration: none;
}

.navigation a {
  margin: 20px;
  font-size: 18px;
  color: #f0e9e9;
  text-decoration: none;
}
